<div class="container">
<div class="row">
  <div class="col-md-6">
  <form class="form-signin" novalidate>
    <h2 class="form-signin-heading">Sign up</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus ng-model="user.username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="user.password">
    <hr>
    <a class="btn btn-lg btn-success" ng-click="register()" role="button">Register</a>
    <hr>
    <p>{{successText}}</p>
  </form>
  </div>
</div>
</div>