<html>
<head>
  <link rel="stylesheet" href="../src/css/bootstrap.min.css">
</head>
<body>
  

<form novalidate>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
      </div>
    </div>
    <div class="col-auto">
      <button ng-click="listByUsername()" class="btn btn-primary mb-2">Submit</button>
    </div>
  </div>
</form>

<div ng-init="isLoaded = false" ng-if="isLoaded" ng-controller="SearchController">
<div class="list-group">
  <div ng-repeat="tweet in tweets">
  <a href="#/" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{tweet.username}}</h5>
    </div>
    <p class="mb-1">
      {{tweet.messageBody}}
    </p>
  </a>

  </div>
</div>
</div>

</body>
</html>
